body
{
    background-color: grey;
}




div
{
    border-radius:6px;
    height:40px;
    width:40px;
    background-color:#62ea44;
    
}
#header
{
    
    border:50px solid green;
    width:160px;
}
.left
{
    float:left;
margin-top:40px;
margin-left:20px;
    height:180px;
    width:189px;
    background-color:yellow;
    border:20px solid blue;
}
.right
{
    clear:left;
    
    width:400px;
    height:200px;
    background-color:pink;
    border:20px solid orange;
    
}
#footer
{
    border:20px solid brown;
    clear:both;
    width:300px
    
    
}
.pic
{
    position:relative;
    margin-left: 400px;
    margin-bottom: 200px;
    

}
